{% include 'header.html' %}
<h1 style="font-size:42"><i>DS Chat</i></h1>
<p>
    <img src="{{ url_for('static', filename='img/chat-512.png') }}" alt="Some stuff that popped out of tensor flow" height="56%">
</p>
<body>
<p style="font-size:18">This support system is build for undergraduate School of
    Computer Science University of Sydney students
    to share experiences and seek the necessary help (if needed)
    for their academic studies.
<br><br>Development Team:
<br><b>Shoudi Huang</b> - shua9875@uni.sydney.edu.au
<br><b>Daniel Zhang</b> - lzha8899@uni.sydney.edu.au
</p>

</body>